<!DOCTYPE html>
<html>
<body>
<script src="{{url_for('static', filename='static/jquery-3.2.1/jquery-3.2.1.js')}}"></script>
<div>
    <div><p>宽带</p></div>
    号码:<br>
    <input type="text" id="account" name="account" value="">
    <br>
    密码:<br>
    <input type="text" id="password" name="password" value="a1234567">
    <br><br>
    <button type="button" onclick="Change_itv_Callback($('#account').val(),$('#password').val(),1)">Change Content</button>
</div>


<div>
    <div><p>itv</p></div>
    号码:<br>
    <input type="text" id="account" name="account" value="">
    <br>
    密码:<br>
    <input type="text" id="password" name="password" value="a1234567">
    <br><br>
    <button type="button" onclick="Change_itv_Callback($('#account').val(),$('#password').val(),2)">Change Content</button>
</div>

<p>如果您点击提交，表单数据会被发送到名为 demo_form.asp 的页面。</p>
<script>
    function Change_itv_Callback(account,password,type){;
        rating_data = {"account":account,"password":password,'type':type};
        $.ajax({
            method:"post",
            url:'/telecom/paiche' + '/password_test',
            async:true,
            data : rating_data,
            dataType:"json",
            success:function(data){
                {#$.MsgBox.Alert("消息", "哈哈，添加成功！");#}
                alert("请求成功")
            },
            error:function(){
            }
        });
        return false;
    }
</script>
</body>
</html>
